body {
  background-color: azure;
  font-family: Arial, sans-serif;
}

header {
  background-color: #333;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  width: 200px;
}

.header-options {
  text-align: right;
}

.header-options ul {
  list-style-type: none;
  padding: 0;
}

.header-options ul li {
  display: inline-block;
  margin-left: 20px;
}

.header-options ul li:first-child {
  margin-left: 0;
}

.header-options ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
}

.HeroImg {
  text-align: center;
}

.HeroImg img {
  display: block;
  margin: 0 auto;
}

.content {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 20px;
}

footer {
  background-color: #333;
  padding: 10px 0;
  text-align: center;
}

.footer-options ul {
  list-style-type: none;
  padding: 0;
}

.footer-options ul li {
  display: inline-block;
  margin-left: 20px;
}

.footer-options ul li:first-child {
  margin-left: 0;
}

.footer-options ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
}

#mySkills {
  text-align: center;
}

.flexContainer {
  display: flex;
  flex-direction: column; /* Set flex direction to column */
  align-items: center; /* Align items along the center horizontally */
}

.skillCard {
  margin: 20px auto; /* Adjust margin for vertical spacing */
  max-width: 300px; /* Set maximum width for each skill card */
}




